# Variables de entorno para docker-compose
# Copia este archivo como .env y completa los valores

# ── PostgreSQL ─────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Gonzalo2026#

# ── Base de datos centralizada ─────────────
DB_NAME=devops_db

# ── Docker Hub ─────────────────────────────
DOCKERHUB_USERNAME=tu_usuario_dockerhub
